# Introduction to Data Cleaning
This notebook will guide you through the process of cleaning and preparing the weather dataset for analysis.


## Step 1: Load and Explore the Dataset
### Task:
- Import necessary libraries (e.g., pandas).
- Load the weather dataset into a DataFrame.
- Explore the structure and summary statistics of the dataset.

In [19]:
import pandas as pd

df = pd.read_csv("weather-raw.csv")
df.head()

df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 35 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       22 non-null     object
 1   year     22 non-null     int64
 2   month    22 non-null     int64
 3   element  22 non-null     object
 4   d1       2 non-null      float64
 5   d2       4 non-null      float64
 6   d3       4 non-null      float64
 7   d4       2 non-null      float64
 8   d5       8 non-null      float64
 9   d6       2 non-null      float64
 10  d7       2 non-null      float64
 11  d8       2 non-null      float64
 12  d9       0 non-null      float64
 13  d10      2 non-null      float64
 14  d11      2 non-null      float64
 15  d12      0 non-null      float64
 16  d13      2 non-null      float64
 17  d14      4 non-null      float64
 18  d15      2 non-null      float64
 19  d16      2 non-null      float64
 20  d17      2 non-null      float64
 21  d18      0 non-null      float64
 22  d19      0 non-null      float64
 23  d20      0 non-null      float64
 24  d21      0 non-null      float64
 25  d22      0 non-null      float64
 26  d23      4 non-null      float64
 27  d24      0 non-null      float64
 28  d25      2 non-null      float64
 29  d26      2 non-null      float64
 30  d27      6 non-null      float64
 31  d28      2 non-null      float64
 32  d29      4 non-null      float64
 33  d30      2 non-null      float64
 34  d31      2 non-null      float64
dtypes: float64(31), int64(2), object(2)
memory usage: 6.1+ KB

,year,month,d1,d2,d3,d4,d5,d6,d7,d8,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
count,22.0,22.000000,2.000000,4.000000,4.000000,2.000000,8.000000,2.000000,2.000000,2.000000,...,0.0,4.000000,0.0,2.000000,2.000000,6.000000,2.00000,4.000000,2.00000,2.000000
mean,2010.0,6.272727,21.850000,22.325000,21.150000,19.600000,20.862500,19.150000,20.500000,23.150000,...,NaN,20.500000,NaN,22.650000,20.100000,24.383333,23.10000,22.850000,21.15000,20.400000
std,0.0,3.601347,11.384419,8.254443,6.405466,10.748023,8.904243,12.232947,10.748023,8.273149,...,NaN,9.118845,NaN,9.970206,11.313708,9.292022,11.45513,7.294062,9.40452,7.071068
min,2010.0,1.000000,13.800000,14.400000,14.400000,12.000000,7.900000,10.500000,12.900000,17.300000,...,NaN,10.700000,NaN,15.600000,12.100000,14.200000,15.00000,15.300000,14.50000,15.400000
25%,2010.0,3.250000,17.825000,15.825000,16.725000,15.800000,14.150000,14.825000,16.700000,20.225000,...,NaN,13.925000,NaN,19.125000,16.100000,17.075000,19.05000,17.325000,17.82500,17.900000
50%,2010.0,6.000000,21.850000,21.800000,20.800000,19.600000,21.050000,19.150000,20.500000,23.150000,...,NaN,20.700000,NaN,22.650000,20.100000,22.950000,23.10000,23.000000,21.15000,20.400000
75%,2010.0,9.500000,25.875000,28.300000,25.225000,23.400000,27.650000,23.475000,24.300000,26.075000,...,NaN,27.275000,NaN,26.175000,24.100000,31.825000,27.15000,28.525000,24.47500,22.900000
max,2010.0,12.000000,29.900000,31.300000,28.600000,27.200000,32.100000,27.800000,28.100000,29.000000,...,NaN,29.900000,NaN,29.700000,28.100000,36.300000,31.20000,30.100000,27.80000,25.400000


## Step 2: Handle Missing Values
### Task:
- Identify missing values in the dataset.
- Apply appropriate methods to handle these missing values (e.g., imputation or removal).

In [37]:
# Count the number of null values in each column
df.isna().sum()
# remove empty columns
d_cols = [col for col in df.columns if col.startswith("d")]
# Sum row-wise
df["temp_value"] = df[d_cols].mean(axis=1)
print(df[["id", "year", "month", "element", "temp_value"]])
summarized_df = df[["id", "year", "month", "element", "temp_value"]]

         id  year  month element  temp_value
0   MX17004  2010      1    tmax   27.800000
1   MX17004  2010      1    tmin   14.500000
2   MX17004  2010      2    tmax   27.750000
3   MX17004  2010      2    tmin   13.225000
4   MX17004  2010      3    tmax   32.566667
5   MX17004  2010      3    tmin   16.200000
6   MX17004  2010      4    tmax   36.300000
7   MX17004  2010      4    tmin   16.700000
8   MX17004  2010      5    tmax   33.200000
9   MX17004  2010      5    tmin   18.200000
10  MX17004  2010      6    tmax   29.050000
11  MX17004  2010      6    tmin   17.750000
12  MX17004  2010      7    tmax   29.250000
13  MX17004  2010      7    tmin   17.000000
14  MX17004  2010      8    tmax   28.271429
15  MX17004  2010      8    tmin   15.842857
16  MX17004  2010     10    tmax   28.900000
17  MX17004  2010     10    tmin   13.080000
18  MX17004  2010     11    tmax   28.120000
19  MX17004  2010     11    tmin   12.500000
20  MX17004  2010     12    tmax   28.850000
21  MX17004  2010     12    tmin   12.150000


## Step 3: Correct Data Types
### Task:
- Inspect the data types of each column.
- Convert columns to their appropriate data types (e.g., dates, numeric values).

In [38]:
summarized_df.info()
# datatypes look fine

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          22 non-null     object
 1   year        22 non-null     int64
 2   month       22 non-null     int64
 3   element     22 non-null     object
 4   temp_value  22 non-null     float64
dtypes: float64(1), int64(2), object(2)
memory usage: 1008.0+ bytes


## Step 4: Tidy the Dataset
### Task:
- Reshape the dataset as needed to ensure it adheres to tidy data principles.
- Use techniques such as melting or pivoting to organize variables into columns.

In [36]:
d_cols = [col for col in df.columns if col.startswith("d")]
# Sum row-wise
df["temp_value"] = df[d_cols].mean(axis=1)
print(df[["id", "year", "month", "element", "temp_value"]])
summarized_df = df[["id", "year", "month", "element", "temp_value"]]

         id  year  month element  temp_value
0   MX17004  2010      1    tmax   27.800000
1   MX17004  2010      1    tmin   14.500000
2   MX17004  2010      2    tmax   27.750000
3   MX17004  2010      2    tmin   13.225000
4   MX17004  2010      3    tmax   32.566667
5   MX17004  2010      3    tmin   16.200000
6   MX17004  2010      4    tmax   36.300000
7   MX17004  2010      4    tmin   16.700000
8   MX17004  2010      5    tmax   33.200000
9   MX17004  2010      5    tmin   18.200000
10  MX17004  2010      6    tmax   29.050000
11  MX17004  2010      6    tmin   17.750000
12  MX17004  2010      7    tmax   29.250000
13  MX17004  2010      7    tmin   17.000000
14  MX17004  2010      8    tmax   28.271429
15  MX17004  2010      8    tmin   15.842857
16  MX17004  2010     10    tmax   28.900000
17  MX17004  2010     10    tmin   13.080000
18  MX17004  2010     11    tmax   28.120000
19  MX17004  2010     11    tmin   12.500000
20  MX17004  2010     12    tmax   28.850000
21  MX17004  2010     12    tmin   12.150000


## Step 5: Validate and Save
### Task:
- Ensure that your cleaned dataset is free of inconsistencies.
- Save the cleaned dataset as `cleaned_weather.csv`.

In [39]:
summarized_df.to_csv("cleaned_weather.csv")


## Step 6: Bonus Task - Outlier Detection
### Task:
- Identify any outliers in the cleaned dataset.
- Create a separate DataFrame containing these outliers and save it as `outliers.csv`.